RewriteEngine On
RewriteRule ^impressum/?$ /impressum.html [R=301,L]
RewriteRule ^datenschutz/?$ /datenschutz.html [R=301,L]
RewriteRule ^results/?$ /results/index.html [L]
ErrorDocument 404 /index.html
